/* Theme variables for FullCalendar (works nicely in v6+) */
:host {
  display: block;
}

:host ::ng-deep .fc {
  /* Base */
  --fc-border-color: #E5E7EB;
  --fc-page-bg-color: transparent;

  /* Text */
  --fc-neutral-text-color: #1F2933;

  /* Buttons */
  --fc-button-text-color: #FFFDFB;        /* readable on purple */
  --fc-button-bg-color: #ab6fe3;
  --fc-button-border-color: #ab6fe3;
  --fc-button-hover-bg-color: #9237b6;
  --fc-button-hover-border-color: #9237b6;
  --fc-button-active-bg-color: #9237b6;
  --fc-button-active-border-color: #9237b6;


  /* Today highlight */
  --fc-today-bg-color: rgba(244, 191, 207, 0.25);
}
