<form (ngSubmit)="onSubmit()" class="space-y-4">
  <h1 class="text-2xl font-bold">
    {{ 'AUTH.REGISTER.TITLE' | translate }}
  </h1>

  <p class="text-sm text-app-muted">
    {{ 'AUTH.REGISTER.SUBTITLE' | translate }}
  </p>

  <div *ngIf="error" class="rounded-xl border border-app-border bg-app-surface p-3 text-sm text-accent">
    {{ error }}
  </div>

  <div>
    <label class="text-sm font-medium">
      {{ 'AUTH.REGISTER.EMAIL.LABEL' | translate }}
    </label>
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      required
      class="mt-2 w-full rounded-xl border border-app-border bg-white px-4 py-2 outline-none focus:ring-2 focus:ring-primary/40"
      [placeholder]="'AUTH.REGISTER.EMAIL.PLACEHOLDER' | translate"
    />
  </div>

  <div>
    <label class="text-sm font-medium">
      {{ 'AUTH.REGISTER.USERNAME.LABEL' | translate }}
    </label>
    <input
      type="text"
      name="username"
      [(ngModel)]="username"
      required
      class="mt-2 w-full rounded-xl border border-app-border bg-white px-4 py-2 outline-none focus:ring-2 focus:ring-primary/40"
      [placeholder]="'AUTH.REGISTER.USERNAME.PLACEHOLDER' | translate"
    />
  </div>

  <div>
    <label class="text-sm font-medium">
      {{ 'AUTH.REGISTER.PASSWORD.LABEL' | translate }}
    </label>
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      required
      class="mt-2 w-full rounded-xl border border-app-border bg-white px-4 py-2 outline-none focus:ring-2 focus:ring-primary/40"
      [placeholder]="'AUTH.REGISTER.PASSWORD.PLACEHOLDER' | translate"
    />
  </div>

  <div>
    <label class="text-sm font-medium">
      {{ 'AUTH.REGISTER.CONFIRMPASSWORD.LABEL' | translate }}
    </label>
    <input
      type="password"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      required
      class="mt-2 w-full rounded-xl border border-app-border bg-white px-4 py-2 outline-none focus:ring-2 focus:ring-primary/40"
      [placeholder]="'AUTH.REGISTER.CONFIRMPASSWORD.PLACEHOLDER' | translate"
    />
  </div>

  <button
    type="submit"
    class="w-full rounded-xl bg-secondary px-4 py-2 font-semibold text-app-text hover:bg-secondary-dark transition"
  >
    {{ 'AUTH.REGISTER.CTA' | translate }}
  </button>

  <a routerLink="/login" class="block text-center text-sm text-accent hover:underline">
    {{ 'AUTH.REGISTER.GOTO_LOGIN' | translate }}
  </a>
</form>
