<div class="login-container">
  <h2>Iniciar sesion</h2>
  <form>
    <div>
      <label>Usuario</label>
      <input
        type="User"
        id="User"
        name="User"
        placeholder="Usuario"
        required
      />
      <!--        [(ngModel)]="loginData.email"-->
    </div>
    <div>
      <label>Contraseña</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Contraseña"
        required
      />
      <!--        [(ngModel)]="loginData.password"-->
    </div>

    <div>
      <div>
        <button>Entrar</button>
      </div>
      <div>
        <button>Cancelar</button>
      </div>
    </div>
  </form>
</div>
